<div class="row page" style="background: url(http://7-themes.com/data_images/out/42/6912271-city-night-photography.jpg); background-size: cover; background-position: center; height: 2000px;">
    <form class="col s12">
        <div class="row">
            <div class="fields">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" ng-model="user.email">
                    <label for="email">Email</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="fields">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" ng-model="user.password">
                    <label for="password">Password</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="fields">
                <div class="input-field col s6">
                    <a href="#/home" class="waves-effect waves-light btn loginScreen" ng-click="login()">Login</a>
                </div>
                <div class="input-field col s6">
                    <a href="#/signup" class="waves-effect waves-light btn loginScreen">Sign Up</a>
                </div>
            </div>
        </div>
    </form>
</div>
